@charset "UTF8";


:root {
    --font-header: 'Passion One', cursive;
    --font-main: 'Sriracha', cursive;
}

* {
    margin: 0px;
}


header {
    background-color: black;
}
header h1 {
    font-family: var(--font-header);
    font-size: 6em;
    text-align: center;
    color: white;
    padding-top: 40px;
}
header > .letra.header {
    display: inline-block;
    font-size: 10em;
}
header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.normal {
    font-family: var(--font-main);
    font-size: 40px;
    margin: 100px 0px 130px 30px;
    margin: auto;
}

#image1 {
    position: relative;
    height: 700px;
    width: 100%;
    background: gray url(imagens/imagem-flor.jpg) center bottom no-repeat fixed;
    background-size: 100% 100%;
    

}
.p-image1 {
    position: absolute;
    display: inline-block;
    
    background-color: rgba(0, 0, 0, 0.200);
    font-family: var(--font-main);
    font-size: 40px;
    color: white;
    margin: 0px 0px 0px 30px;

    top: 20%;


}




footer {
    background-color: black;
    font-family: var(--font-main);
    color: white;
    text-align: center;
}

footer p {
    display: inline-block;
    padding: 0px 10px;
}