@charset "UTF8";


:root {
    --font-header: 'Passion One', cursive;
    --font-main: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-width: 100vh;
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}
header h1 {
    font-family: var(--font-header);
    padding: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}
header > .letra.header {
    display: inline-block;
    font-size: 10em;
}
header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}
header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0vh 10vh 0vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font-main);
    font-size: 4vw;
}

.normal {
    background-color: white;
    color: black;
}
 
.image {
    background-color: rgb(71, 71, 71);
    color: white;
}
.image > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.250);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

