@charset "UTF-8";


    body {
        padding: 30px;
    }
    .tabela01 td {
        width: 60px;
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }

/* ---------------------------------------------------------- */


    .tabela02 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .tabela02 td {
        width: 60px;
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }

/* ---------------------------------------------------------- */

    .tabela03 {
        width: 600px;
        font-family: Arial, Helvetica, sans-serif;

    }
    .tabela03 th, td {
        
        border: 1px solid black;
        padding: 5px;
    }
    .tabela03 th {
        background-color: gray;
        color: white;
    }

    .th-media {
        text-align: left;
        
    }

    .th-area {
        text-align: center;
        background-color: white;
        color: black;
    }

    .td-notas {
        text-align: center;
    }
